@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300 700;
  font-display: block;
  src: url("../../assets/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../../assets/fonts/UbuntuSansMono-VariableFont_wght.ttf") format("truetype");
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
  scroll-behavior: smooth;
}
